<!DOCTYPE html>
<html lang="{{ page.lang | default: " en" }}">
{%- include head.html -%}

<body a="{{ site.theme_config.appearance | default: " auto" }}">
  <main class="page-content" aria-label="Content">
    <div class="w">
      {{ content }}
    </div>
  </main>

  {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
  {% endfor %}
  {% endif %}
  <a> MiSans 是本网站使用的字体 | 云起的主页 © 2020-至今 基于协议 CC BY 4.0</a>
</body>

</html>